<div class="create-new-game-page">
  <mat-toolbar class="toolbar">
    <button mat-icon-button routerLink="/" routerLinkActive="true" class="home-button">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title">Новая игра</span>
  </mat-toolbar>
  <div class="scrollable-area">
    <dictionary></dictionary>
    <mat-divider></mat-divider>

    <team-select></team-select>
    <mat-divider></mat-divider>

    <settings></settings>
    <mat-divider></mat-divider>
  </div>

  <div class="bottom-container">
    <button mat-flat-button>Начать игру</button>
  </div>
</div>
