@import "../../global-variables";

.create-new-game-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  background: $toolbar-color;
  color: white;
  min-height: 56px;
  z-index: 1000;

  .title {
    margin-left: 16px;
  }
  .toolbar-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

progress-bar {
  z-index: 1000;
}

.flip-container {
  cursor: move;
  height: 60vw;
  width: 70vw;
  perspective: 30rem;
  z-index: 500;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.flip .front {
  transform: rotateY(180deg);
}

.has-background .front:before {
  visibility: visible;
}

.front:before {
  visibility: hidden;
  content: '';
  position: absolute;
  background: url("../../../assets/card-background.svg") 50% no-repeat;
  background-size: contain;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transform: rotateY(180deg);
}

.flip .back {
  transform: rotateY(360deg);
}

.front {
  background: $main-color;
  border: 4px solid #49bdca;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    color: white;
    text-align: center;
    padding: 12px 24px;
  }
}

.drag-box {
  background: white;
  border: 4px solid #49bdca;
  border-radius: 16px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;

  p {
    color: $text-color;
    text-align: center;
    padding: 12px 0;
    font-size: 24px;
  }
}

.card-logo {
  padding-top: 10%;
  text-align: center;
  img {
    width: 80%;
  }
}

.green-triangle {
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 30px solid #56cd8d;
}

.red-triangle {
  margin-top: 8px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 30px solid $toolbar-color;
}

.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  display: none;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.description-container {
  margin: 24px;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 24px;
    color: $text-subtitle-color;
  }
  .counter-container {
    position: relative;
    width: 100%;
    text-align: center;
  }
}

.counter {
  position: absolute;
  top: -6px;
  left: 10%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;

  &.done {
    background: $main-color;
  }
  &.skip {
    background: $toolbar-color;
  }
}

progress-timer {
  height: 32px;
}
